body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

h1 {
    background-color: #800000;
    color: #ffd700;
    padding: 20px;
    font-size: 30px;
    margin: 0;
    text-align: center; 
    font-family: 'Times New Roman'; 
}

.header {
    position: relative;
}

h2 {
    background-color: #9dd7f1;
    color: #000000;
    padding: 20px;
    font-size: 30px;
    margin: 0;
    text-align: center; 
}

h3 {
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

.content-container h2 {
    color: #000000; 
    background-color: #e9e9e9;
    font-size: 25px; 
}

form {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.2);
}

#form3 label,
#form3 input {
    display: inline-block;
    width: 48%;
    margin-bottom: 10px;
}

#gender {
    width: 49%;
}

#college {
    width: 49%;
}

button {
    background: linear-gradient(to right, #800000 50%, #ffd700 50%);
    color: #ffd700;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 25px;
    background-size: 200% 100%;
    background-position: left bottom;
}

#button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button:hover {
    background-position: right bottom;
    color: #5a0000;
    border-radius: 30px;
    transform: translateX(10px);
}

.button-container button:active {
    transform: scale(0.95);
    color: #5a0000;
    background-color: #ffd700;
}

form {
    position: relative;
    padding-bottom: 100px;
}

.back-button {
    position: absolute;
    bottom: 30px;
    left: 100px;
}

.submit-button {
    position: absolute;
    bottom: 30px;
    right: 100px;
}

